body {
    margin: 0;
    padding: 0;
}


.scene {
    width: 100vw;
    height: 48vw;

    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.test2 {
    visibility: hidden;
    background-color: aqua;
}

.baggrundContainerStart{
   animation-name: baggrund_kf;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.baggrundContainerFast{
   animation-name: baggrund_kf;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#PrivatContainer{
    z-index: 4;
    position: absolute;
    width: 15.0vw ;
    height: 21.43vw;

    transition: all 1s;

}

#PrivatGuy{
    width:  15vw;
    height: 21.43vw;
    z-index: 16;
    position: absolute;
    transition: all 1s;

}
#ContainerBoth{
    width: 15vw;
    height: 21.43vw;
    z-index: 26;
    position: absolute;
    transition: all 1s;
}

#together{

    width: 30vw;
    height: 42.86vw;
    z-index: 26;
    position: absolute;
    transition: all 1s;
    background-image: url(images/privatSnak/mandogdreng.svg);
    background-size: 1900% 100%;


    left: 250%;
    top: 50%;

}

.forever {
    visibility: hidden;


}

.forever2 {
    visibility: visible;
     animation-name: both_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: steps(19);
    animation-fill-mode: forwards;
    transition: all 1s;


}


.PrivatWalking{
     z-index: 16;
     background-image: url(images/privatSnak/Privatmandgang.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;
}

.PrivatStart{
     z-index: 16;
     background-image: url(images/privatSnak/Privatmandgang.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;
}



#iphone{
    width: 33vw;
    height: 47.43vw;
    z-index: 4;
    position: absolute;
    transition: all 1s;

}

.mobileStart{
    z-index: 7;
    background-image: url(images/phone/mobil1.svg);
    background-position: 1100% 0;
    background-size: 1100% 100%;
    top: 16%;
    left: 72%;
    transition: all 1s;

}

.mobile1{
    z-index: 7;
    background-image: url(images/phone/mobil1.svg);
    background-size: 1100% 100%;
    top: 16%;
    left: 72%;
    animation-name: mobile_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(11);
    animation-fill-mode: forwards;
    transition: all 1s;

}

.mobile2{
    z-index: 7;
    background-image: url(images/phone/mobil2.svg);
    background-size: 1100% 100%;
    top: 16%;
    left: 72%;
    animation-name: mobile_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: steps(11);
    transition: all 1s;

}

.mobile3{
    z-index: 7;
    background-image: url(images/phone/mobil3.svg);
    background-size: 1100% 100%;
    top: 16%;
    left: 72%;
    background-position: 1100% 0;


}

.mobile4{
    z-index: 7;
    background-image: url(images/phone/mobil3.svg);
    background-size: 1100% 100%;
    top: 16%;
    left: 72%;
    animation-name: mobile_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: steps(11);
    transition: all 1s;


}



#baggrund{
    background-image: url(images/Artboard%2011.svg);
    transition: all 1.8s;
     position: absolute;
    z-index: 3;
    width: 400%;
    height: 100%;
}

.baggrund_start {


    background-size: 100% 100%;
    animation-name: baggrund_kf;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 1.8s;
    animation-fill-mode: forwards;


}

.baggrund_fast {
    animation-play-state: paused;
    background-size: 100% 100%;
    animation-name: baggrund_kf;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 1.8s;
    animation-fill-mode: forwards;


}

.knapsize {
    z-index: 6;
    position: absolute;
    width: 17vw ;
    height: 3vw;
    transition: all 1.8s;
    background-image: url(images/sendknap.svg);
    background-size: 100% 100%;
    top: 90%;
    left: 80%;


}

.knapani {

    width: 19vw ;
    height: 5vw;
    background-size: 100% 110%;
    top: 87%;
    left: 79%;



    animation-name: knap_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    transition: 1s all;


}




#baggrundContainer {
    animation: baggrund_kf 30s 1 both;
}

@keyframes baggrund_kf {

    0%{
        left: -54vw;

    }

    100%{
     left: -247vw;
    }

}

/* Skyer */
#skyerId {
    z-index: 4;
    position: absolute;
    width: 15.0vw ;
    height: 22.66vw;

    transition: all 1s;


}


.coverBoxStart {
    background-image: url(images/startside.svg);
    z-index: 8;
    position: absolute;
    width: 100% ;
    height: 100%;

    transition: all 1s;
}

.startKnap {
    background-image: url(images/startknap.svg);
    z-index: 8;
    position: absolute;
    width: 17.5vw ;
    height: 9.9vw;
    transition: all 1s;

    left: 43%;
    top: 42%;
}

.startKnapEnd {
    background-image: url(images/startknap.svg);
    z-index: 8;
    position: absolute;
    width: 17.5vw ;
    height: 9.9vw;
    transition: all 1s;

    left: 43%;
    top: 42%;
    animation-name: CoverBoxFade_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    transition: 1s all;
}

.coverBoxEnd {
    background-image: url(images/startside.svg);
    z-index: 8;
    position: absolute;
    width: 100% ;
    height: 100%;
    animation-name: CoverBoxFade_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    transition: 1s all;

}

.ContainerWalking {

    width: 15.0vw ;
    height: 21.43vw;
    z-index: 5;
    position: absolute;
    transition: all 1s;
    top: 50%;
    left:45%;

    animation-name: walk2_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    transition: 1s all;
}

.ContainerFall {
     z-index: 5;
    position: absolute;
    width: 15.0vw ;
    height: 21.43vw;
    transition: all 1s;
    top: 69%;
    left:45%;

    animation-name: walk2_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    transition: 1s all;
}

.ContainerStart {
    z-index: 4;
    position: absolute;
    width: 15.0vw ;
    height: 21.43vw;

    transition: all 1s;
    top: 55%;
    left:-15%;
}

#PrivatContainer{
    z-index: 14;
}

.PrivatContainerOut {
     z-index: 14;
    position: absolute;
    width: 15.0vw ;
    height: 21.43vw;

    transition: all 1s;
       animation-name: walk2_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    transition: 1s all;
    top: 50%;
}

.PrivatContainerStart {
     z-index: 14;
    position: absolute;
    width: 15.0vw ;
    height: 21.43vw;

    transition: all 1s;
    top: 50%;
    left:-15%;
}





.personWalking {
     background-image: url(images/walk2/walk1.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking2 {
     background-image: url(images/walk2/walk2.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking3 {
     background-image: url(images/walk2/walk3.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking4 {
     background-image: url(images/walk2/walk4.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking5 {
     background-image: url(images/walk2/walk5.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking6 {
     background-image: url(images/walk2/walk6.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking7 {
     background-image: url(images/walk2/walk7.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personWalking8 {
     background-image: url(images/walk2/walk8.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}
#CoverBackground{

    position: absolute;
    width: 100% ;
    height: 100%;

    transition: all 1s;
    visibility: hidden;

}


.black {
    z-index: 10;
    background-image: url(images/sortbaggrund.svg);
    animation-name: FadeIn_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    transition: 1s all;

}

.orange {
    z-index: 20;
    background-image: url(images/orangebaggrund.svg);
    animation-name: FadeIn_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    transition: 1s all;
}

.personWalking9 {
     background-image: url(images/walk2/walk8.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.classWalking {
    z-index: 5;
    position: absolute;
    width: 15.0vw ;
    height: 21.43vw;
    transition: all 1s;


}

.classFalling {
    z-index: 5;
    position: absolute;
    width: 25.0vw ;
    height: 17.75vw;
    transition: all 1s;


}


.personFallingOld {


     background-image: url(images/falder.svg);
    background-size: 600% 100%;
    background-position: 0% 0%;

    animation-name: fall_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(6);
    animation-fill-mode: forwards;

    transition: 1s all;


}


.personStartpos {
     background-image: url(images/walk2/walk1.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: walk_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(13);

    transition: 1s all;


}

.personFalling {
     background-image: url(images/walk2/Faldfinal.svg);
    background-size: 1300% 100%;
    background-position: 0% 0%;

    animation-name: fall_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(6);
    animation-fill-mode: forwards;

    transition: 1s all;


}


.skyerContainer{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 1%;
    left: 1%;
}

.pos1 {
    top: 1%;
    left: 40%;
}

.pos2 {
    top: 5%;
    left: 55%;
}

.pos3 {
    top: 10%;
    left: 25%;
}

.pos4 {
    top: 1%;
    left: 65%;
}

.pos5 {
    top: 3%;
    left: 10%;
}

.pos6 {
    top: 1%;
    left: 70%;
}

.pos7 {
    top: 5%;
    left: 30%;
}

.pos8 {
    top: 1%;
    left: 20%;
}
.pos9 {
    top: 1%;
    left: 60%;
}
.pos10 {
    top: 10%;
    left: 85%;
}

.pos11 {
    top: 8%;
    left: 80%;
}

.pos12 {
    top: 5%;
    left: 6%;
}

.pos13 {
    top: 12%;
    left: 40%;
}

.pos14 {
    top: 10%;
    left: 50%;
}

.pos15 {
    top: 1%;
    left: 1%;
}
.pos16 {
    top: 1%;
    left: 35%;
}

.pos17 {
    top: 2%;
    left: 80%;
}
.pos18 {
    top: 20%;
    left: 20%;
}
.pos19 {
    top: 8%;
    left: 80%;
}

.pos20 {
    top: 18%;
    left: 10%;
}

.pos21 {
    top: 12%;
    left: 70%;
}

.pos22 {
    top: 14%;
    left: 58%;
}

.pos22 {
    top: 16%;
    left: 65%;
}

.pos23 {
    top: 8%;
    left: 80%;
}

.pos24 {
    top: 15%;
    left: 55%;
}
.pos26 {
    top: 15%;
    left: 30%;
}

.pos27 {
    top: 13%;
    left: 4%;
}

.pos28 {
    top: 1%;
    left: 50%;
}
.pos29 {
    top: 1%;
    left: 90%;
}



.skyer {

    background-image: url(images/skyer/skyerFarve1.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;


}



.skyer2 {
    /*
    opacity: 0.5;
    */
    background-image: url(images/skyer/skyerFarve2.svg);
    background-size: 900% 100%;
    background-position: 100% 0;
    animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyer3 {
    /*
    opacity: 0.5;
    */
    background-image: url(images/skyer/skyerFarve3.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyer4 {
    background-image: url(images/skyer/skyerFarve4.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyer5 {
    background-image: url(images/skyer/skyerFarve5.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyer6 {
    background-image: url(images/skyer/skyerFarve6.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyer7 {
    /*
    opacity: 0.5;
    */
    background-image: url(images/skyer/skyerFarve7.svg);
    background-size: 900% 100%;
    background-position: 100% 0;
}

.skyerbillede1 {
    background-image: url(images/skyer/skyerbillede1.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyerbillede2 {
    background-image: url(images/skyer/skyerbillede2.svg);
    background-size: 900% 100%;
   animation-name: skyer_kf;
    /*
    transform:rotate(45deg);
    */
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(9);
    animation-fill-mode:forwards;
    transition: 1s all;
}

.skyerbillede3 {
    /*
    opacity: 0.5;
    */
    background-image: url(images/skyer/skyerbillede3.svg);
    background-size: 900% 100%;
    background-position: 100% 0;
}



@keyframes knap_kf {

    0%{

    background-size: 100% 100%;
    width: 17vw ;
    height: 3vw;
    top: 90%;
    left: 80%;

    }

    50%{

    width: 19vw ;
    height: 5vw;
    background-size: 100% 110%;
    top: 87%;
    left: 79%;
    }

    100% {
    background-size: 100% 100%;
    width: 17vw ;
    height: 3vw;
    top: 90%;
    left: 80%;
    }

}


@keyframes skyer_kf {

    0%{
        background-position: 900% 0;

    }

    99%{
     background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }

}



@keyframes walk_kf {

    0%{

        background-position: 1300% 0;

    }



    100% {


        background-position: 0% 0;
    }

}

@keyframes both_kf {

    0%{

        background-position: 1900% 0;

    }



    99% {


        background-position: 0% 0;
    }
     100% {


        background-position: 100% 0;
    }

}

@keyframes fall_kf {

    0%{

        background-position: 1300% 0;
        transform: rotate(0deg);
    }



    99% {

        transform: rotate(90deg);
        background-position: 700% 0;

    }

    100% {

        transform: rotate(90deg);
        background-position: 800% 0;

    }

}

@keyframes mobile_kf {

    0%{

        background-position: 1100% 0;

    }

    99% {


        background-position: 0% 0;
    }


    100% {


        background-position: 100% 0;
    }

}

@keyframes walk2_kf {

    0%{
        left: -15%;
        background-position: 1300% 0;

    }



    100% {

    left: 42%;
        background-position: 0% 0;
    }

}

@keyframes CoverBoxFade_kf {

    0%{

        opacity: 1;

    }



    100% {
        visibility: hidden;
    opacity: 0;
    }

}


@keyframes FadeIn_kf {

    0%{
        visibility: hidden;
        opacity: 0;

    }



    100% {
        visibility: visible;
    opacity: 1;
    }

}



